<footer>
  <div class="footer" fxLayout="row">
    <div fxLayout="column">
      <div
        class="logo"
        id="logo_erasmus"
        (click)="openUrl('https://erasmus-plus.ec.europa.eu')"
      ></div>
    </div>

    <div
      class="logo"
      id="logo_playcraft"
      (click)="openUrl('http://www.playcraft.co')"
    ></div>
    <!-- <div
      class="logo"
      id="logo_lti"
      (click)="openUrl('https://www.learn-to-inspire.com')"
    ></div> -->

    <div
      class="logo"
      id="logo_transformika"
      (click)="openUrl('https://transformika.org')"
    ></div>

    <div
      class="logo"
      id="logo_bo_yana"
      (click)="openUrl('https://www.learn-to-inspire.com')"
    ></div>
  </div>
</footer>
