<div
  id="content"
  #board
  role="main"
  [ngClass]="gs.minify || !gs.checkboxHide ? 'allBoard' : ''"
>
  <div class="container tp-wrapper" fxFlex>
    <div class="card-container tp-wrapper top10">
      <div
        *ngFor="let deck of gs.decks"
        class="tp-box"
        style="position: absolute"
      >
        <div
          class="card box"
          [ngClass]="deck.empty || gs.checkedIcons ? 'emptyDeck' : ''"
        >
          <button
            mat-icon-button
            class="deckButton"
            (click)="gs.takeCard(deck)"
          ></button>
        </div>
      </div>
      <div
        class="tp-box"
        *ngFor="let card of gs.cards"
        cdkDrag
        [cdkDragDisabled]="gs.selectionMode"
        [cdkDragFreeDragPosition]="
          card.position ? card.position : { x: 0, y: 0 }
        "
        (cdkDragStarted)="dragMove($event, card)"
        (cdkDragEnded)="dragEnd($event, card)"
        [style.position]="card.position ? 'absolute' : ''"
        [id]="'card' + card.id"
      >
        <!-- {{ card.id }} -->
        <div
          [ngClass]="card.magnified ? 'magnify' : ''"
          class="card"
          (mousedown)="mouseDown($event)"
          [style.background-image]="
            'url(./assets/cards/' +
            card.id +
            (card.side || '') +
            '-voce-up.png)'
          "
        >
          <div class="cardButtons" *ngIf="!gs.selectionMode && !dragEvent">
            <mat-icon
              class="magnifyIcon left material-icons"
              [style.color]="gs.getIconColor(card)"
              (click)="magnify($event, card); $event.stopPropagation()"
            >
              image_search
            </mat-icon>
            <mat-icon
              class="delete"
              (click)="gs.removeCard(card)"
              [style.color]="gs.getIconColor(card)"
              >delete
            </mat-icon>
          </div>

          <div class="cardButtons" *ngIf="gs.selectionMode"></div>
          <div
            *ngIf="isMobileDevice() && !gs.selectionMode"
            class="drag-handle"
            cdkDragHandle
          >
            <svg
              width="24px"
              [style.color]="gs.getIconColor(card)"
              viewBox="0 0 24 24"
            >
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>

          <mat-checkbox
            *ngIf="gs.selectionMode"
            class="check"
            [checked]="card.checked"
            [color]="gs.getIconColor(card)"
            (change)="gs.checkToggleCard(card, $event.checked)"
          >
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
