:host {
  position: fixed;
  right: 20px;
  top: 20px;
}

.scene {
  width: 100px;
  height: 100px;
  margin: 20px;
  perspective: 600px;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.5s;
}

.cube.show-1 {
  transform: translateZ(-100px) rotateY(0deg);
  border-radius: 10%;
}
.cube.show-2 {
  transform: translateZ(-100px) rotateY(-180deg);
  border-radius: 10%;
}
.cube.show-3 {
  transform: translateZ(-100px) rotateY(-90deg);
  border-radius: 10%;
}
.cube.show-4 {
  transform: translateZ(-100px) rotateY(90deg);
  border-radius: 10%;
}
.cube.show-5 {
  transform: translateZ(-100px) rotateX(-90deg);
  border-radius: 10%;
}
.cube.show-6 {
  transform: translateZ(-100px) rotateX(90deg);
  border-radius: 10%;
}

.cube__face {
  border-radius: 10%;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  //   background: red;
}

.cube__face--1 {
  transform: rotateY(0deg) translateZ(50px);
  background-image: url("../../assets/dice/dice1.svg");
}
.cube__face--2 {
  transform: rotateY(180deg) translateZ(50px);
  background-image: url("../../assets/dice/dice2.svg");
}
.cube__face--3 {
  transform: rotateY(90deg) translateZ(50px);
  background-image: url("../../assets/dice/dice3.svg");
}
.cube__face--4 {
  transform: rotateY(-90deg) translateZ(50px);
  background-image: url("../../assets/dice/dice4.svg");
}
.cube__face--5 {
  transform: rotateX(90deg) translateZ(50px);
  background-image: url("../../assets/dice/dice5.svg");
}
.cube__face--6 {
  transform: rotateX(-90deg) translateZ(50px);
  background-image: url("../../assets/dice/dice6.svg");
}

label {
  margin-right: 10px;
}

@media screen and (max-width: 831px), screen and (max-height: 500px) {
  .box {
    top: 30%;
    left: 25%;
  }

  .cube,
  .cube__face,
  .scene {
    width: 100px;
    height: 100px;
  }

  .cube__face--1 {
    transform: rotateY(0deg) translateZ(50px);
  }
  .cube__face--2 {
    transform: rotateY(180deg) translateZ(50px);
  }
  .cube__face--3 {
    transform: rotateY(90deg) translateZ(50px);
  }
  .cube__face--4 {
    transform: rotateY(-90deg) translateZ(50px);
  }
  .cube__face--5 {
    transform: rotateX(90deg) translateZ(50px);
  }
  .cube__face--6 {
    transform: rotateX(-90deg) translateZ(50px);
  }
}
