:host {
  position: fixed;
  right: 20px;
  top: 20px;
}

#dice {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/dice/dice0.svg");
}
.title {
  position: absolute;
  font-size: 3vw;
}
.center {
  opacity: 0.7;
  text-align: center;
  width: 8vw;
  height: 10vw;
  max-height: 80px;
  max-width: 60px;
  min-width: 40px;
  min-height: 60px;
}
.result {
  position: relative;
  top: max(4vw, 50px);
  font-size: calc(22px + 1.5vw);
}
button {
  width: 92px;
  height: 92px;
}
