.toolbar {
  color: rgb(66, 60, 60) !important;
  width: 44px;
  position: fixed;
  z-index: 999999999;
  align-items: center;
  border-radius: 0px 0px 8px 0px;
  background-color: #535471;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40px;
}

#menu {
  position: absolute;
  width: 40px;
  height: 40px;
  align-items: center;
  color: white;
  font-weight: 600;
  z-index: 999999;
}

#addedBtns {
  min-width: 200px;
}
